[project]
	description = Various scripts I use
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ezra Bühler (easybe)
[access "refs/for/refs/*"]
	read = group user/Ezra Bühler (easybe)
	push = group user/Ezra Bühler (easybe)
	label-Code-Review = -2..+2 group user/Ezra Bühler (easybe)
	label-Verified = -1..+1 group user/Ezra Bühler (easybe)
	rebase = group user/Ezra Bühler (easybe)
	removeReviewer = group user/Ezra Bühler (easybe)
	submit = group user/Ezra Bühler (easybe)
[access "refs/heads/*"]
	read = group user/Ezra Bühler (easybe)
	create = group user/Ezra Bühler (easybe)
	push = +force group user/Ezra Bühler (easybe)
	pushMerge = group user/Ezra Bühler (easybe)
[access "refs/tags/*"]
	push = +force group user/Ezra Bühler (easybe)
	pushTag = group user/Ezra Bühler (easybe)
	pushSignedTag = group user/Ezra Bühler (easybe)
